{% extends '@App/base.html.twig' %}

{% block test %}
<div class="max-width">
    <div class="row">
        <div class="col-md-8 col-sm-12">
            {% if bookmarks|length > 0 %}
            <ul>
                {% for bookmark in bookmarks %}
                <div class="card">
                    <div class="card-block">
                        <p class="card-text">This image is in the middle</p>
                    </div>
                    <!-- <img src="/images/pathToYourImage.png" alt="Card image"> -->
                    <div class="card-block">
                        <p class="card-text">of a card.</p>
                    </div>
                </div>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@AppBundle/Resources/public/app/css/bookmark/index.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% javascripts
        '@AppBundle/Resources/public/app/js/bookmark/index.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
