
/****** LOGIN ******/

.btn-fb {
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff !important;
    background-color: #203768;
}
.btn-tw {
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff !important;
    background-color:#3c89c4;
}
.btn-gh{
    color: #fff;
    background-color :#242A2F;
}
.btn-gh:hover{
    color: #fff !important;
    background-color :#141616;
}
