<tr data-id="{{ id }}">
    <td>
        <div class="feed-img-wrapper">
            <img class="feed-img thumbnail" src="{{asset('/img/logo.png') | imagine_filter('bookmark')}}" alt="">
        </div>
    </td>
    <td>
        <div class="container">
            <h4>名前</h4>
            <div>{{url}}</div>
            <div>
                {% for tag in tags %}
                <div class="tag-wrapper d-inline-block">
                    <div class="tag">
                        <a href="#">タグ名</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </td>
</tr>
