@import url(http://fonts.googleapis.com/css?family=Roboto);
body {
    background-color: #fafafa!important;
}

a:hover { text-decoration: none; }

.max-width {
    width: 1024px;
    box-sizing: border-box;
}
